<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>{{object.name}}</h1>
    <p>{{object.category}}</p>
    <input>{{object.review_text}}</input>
</body>
</html>